/*------------------------------------*\
    #TEXT-INPUT
\*------------------------------------*/

/**
 * Unify text-like inputs.
 */

// Predefine the variables below in order to alter and enable specific features.
$inuit-text-input-namespace:                $inuit-namespace !default;

$inuit-text-input-font-size:                $inuit-base-font-size !default;
$inuit-text-input-line-height:              $inuit-base-line-height !default;

$inuit-text-input-height:                   double($inuit-base-spacing-unit) !default;
$inuit-text-input-height--small:            halve($inuit-text-input-height) !default;
$inuit-text-input-height--large:            double($inuit-text-input-height) !default;

$inuit-text-input-padding-vertical:         halve($inuit-text-input-height - $inuit-text-input-line-height);
$inuit-text-input-padding-vertical--small:  halve($inuit-text-input-height--small - $inuit-text-input-line-height) !default;
$inuit-text-input-padding-vertical--large:  halve($inuit-text-input-height--large - $inuit-text-input-line-height) !default;

$inuit-text-input-padding-horizontal:       halve($inuit-base-spacing-unit);
$inuit-text-input-padding-horizontal--small:halve($inuit-text-input-padding-horizontal) !default;
$inuit-text-input-padding-horizontal--large:double($inuit-text-input-padding-horizontal) !default;

$inuit-text-input-background:               #fff !default;
$inuit-text-input-text-color:               $inuit-base-text-color !default;
$inuit-text-input-border-width:             1px !default;
$inuit-text-input-border-color:             #ccc !default;
$inuit-text-input-border-style:             solid !default;
$inuit-text-input-border-radius:            0 !default;

$inuit-enable-text-input--small:            false !default;
$inuit-enable-text-input--large:            false !default;
$inuit-enable-textarea:                     false !default;


.#{$inuit-text-input-namespace}text-input {
    max-height: $inuit-text-input-height;
    padding-top: $inuit-text-input-padding-vertical;
    padding-left: $inuit-text-input-padding-horizontal;
    padding-right: $inuit-text-input-padding-horizontal;
    padding-bottom: $inuit-text-input-padding-vertical;
    line-height: $inuit-text-input-line-height;
    font-size: $inuit-text-input-font-size;
    background-color: $inuit-text-input-background;
    color: $inuit-text-input-text-color;

    @if($inuit-text-input-border-width != 0) {
        border: $inuit-text-input-border-width $inuit-text-input-border-style $inuit-text-input-border-color;
    }
    @else {
        border: 0;
    }

    @if($inuit-text-input-border-radius != 0) {
        border-radius: $inuit-text-input-border-radius;
    }

}





@if ($inuit-enable-text-input--small == true){

    /**
     * Compressed text inputs.
     */
    .#{$inuit-text-input-namespace}text-input--small {
        max-height: $inuit-text-input-height--small;
        padding-top: $inuit-text-input-padding-vertical--small;
        padding-bottom: $inuit-text-input-padding-vertical--small;
        padding-left: $inuit-text-input-padding-horizontal--small;
        padding-right: $inuit-text-input-padding-horizontal--small;
    }

}





@if ($inuit-enable-text-input--large == true){

    /**
     * Tall text inputs.
     */
    .#{$inuit-text-input-namespace}text-input--large {
        max-height: $inuit-text-input-height--large;
        padding-top: $inuit-text-input-padding-vertical--large;
        padding-bottom: $inuit-text-input-padding-vertical--large;
        padding-left: $inuit-text-input-padding-horizontal--large;
        padding-right: $inuit-text-input-padding-horizontal--large;
    }

}





@if ($inuit-enable-textarea == true){

    /**
     * Adopt the styles from text-inputs for textarea boxes.
     */
    .#{$inuit-text-input-namespace}textarea {
        padding-top: $inuit-text-input-padding-vertical;
        padding-bottom: $inuit-text-input-padding-vertical;
        padding-left: $inuit-text-input-padding-horizontal;
        padding-right: $inuit-text-input-padding-horizontal;
        line-height: $inuit-text-input-line-height;
        font-size: $inuit-text-input-font-size;
        color: $inuit-text-input-text-color;
        background-color: $inuit-text-input-background;

        @if($inuit-text-input-border-width != 0) {
            border: $inuit-text-input-border-width $inuit-text-input-border-style $inuit-text-input-border-color;
        }
        @else {
            border: 0;
        }

        @if($inuit-text-input-border-radius != 0) {
            border-radius: $inuit-text-input-border-radius;
        }

    }

}